# Author - MNoya, from DotaCraft Repository
# Cache crap that Valve autogenerates
*.bin

# Compiled formats
*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vsnd_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c

# Commit panorama compiled textures
!game/dota_addons/trollsandelves/panorama/images/*.vtex_c
!game/dota_addons/trollsandelves/panorama/images/custom_game/*.vtex_c

# Map files
*.vpk

# Map overviews
content/dota_addons/trollsandelves/materials/overviews/*.vmat
content/dota_addons/trollsandelves/materials/overviews/*.txt
game/dota_addons/trollsandelves/resource/overviews/*

#Github dump
*.stackdump

#Other
*.bin
tools_asset_info.bin
tools_thumbnail_cache.bin
